.animatable-element {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: relative;
    animation: myAnimation 5s infinite alternate ease-in 2s;
}

@keyframes myAnimation {
    0% {
    transform: translateX(0);
    opacity: 1;
    background-color: lightblue;
    }
    50% {
    transform: translateX(200px);
    opacity: 0.7;
    background-color: lightcoral;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    background-color: lightblue;
    }
}