#para1 {
    color: #ffffff;       
    background-color: #ff5733;
}

#para2 {
    color: #000000;    
}

#para3 {
    color: #ffffff;
    background-color: #3357ff;
}

#para4 {
    color: #000000;
    background-color: #ff33a8;  
}

#para5 {
    color: #ffffff;
    background-color: #33fff3; 
}

#para6 {
    color: #000000;
    background-color: #ff8c33; 
}

#para7 {
    color: #ffffff;
    background-color: #8c33ff;
}

#para8 {
    color: #000000;
    background-color: #33ff8c;  
}

#para9 {
    color: #ffffff;
    background-color: #ff3333; 
}
#para10 {
    color: #000000;
    background-color: #3333ff; 
}